/*
 * Font variables
 */

/* Accents (headers etc.) */
$accentFontFamily: 'Yantramanav', sans-serif;
$accentBoldFontWeight: 900;
$accentThinFontWeight: 100;

/* Common fonts */
$commonFontFamily: 'Lato', sans-serif;
$commonRegularFontWeight: 400;
$commonBoldFontWeight: 900;

/*
 * Colorscheme variables
 */

$black: #101010;
$white: white;

$blue-100: #D0F5FF;
$blue-200: #B2D5F3;
$blue-500: #32556E;
$blue-600: #023047;
$blue-800: #00172C;
$blue-900: #001328;

$beige: #FFF7D6;

/*
 * Break points
 */
$minNormalWidth: 600px;

/*
 * General Styles
 */

/* Prevent paddings cause horizontal scroll-bar */

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

/* Font size defines the size of all relative (rem) fonts */
:root {
  font-size: 24px;
  min-width: 320px;
}

* {
  font-family: $commonFontFamily;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $accentFontFamily;
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-size: 3.5rem !important;
  font-weight: $accentBoldFontWeight;
  margin: 0 !important;
}

h2 {
  font-size: 3rem;
  margin: 0 !important;
}

h3 {
  font-size: 2.5rem;
  width: 100%;
}

h4 {
  font-size: 1.5rem;
}

/* Toolitps */

.hasTooltip {
  position: relative;
}

.hasTooltip::before {
  padding: 0.3rem;
  margin-bottom: 10px;
  content: attr(tooltip-text);
  font-size: 0.7rem;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%);
  background-color: $beige;
  border-radius: 10px;
  color: $blue-800;
  visibility: hidden;
  // Animation:
  opacity: 0;
  transition: ease-out 0.3s;
}

.hasTooltip:hover::before {
  visibility: visible;
  opacity: 1;
}

.hasTooltip::after {
  position: absolute;
  content: '';
  bottom: 100%;
  right: 50%;
  transform: translate(50%);
  border: 5px solid black;
  border-color: $blue-100 transparent transparent transparent;
  visibility: hidden;
  // Animation:
  opacity: 0;
  transition: ease-out 0.3s;
}

.hasTooltip:hover::after {
  visibility: visible;
  opacity: 1;
}

/*
 * Layout
 */
body,
main,
#root {
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 5rem 0.5rem;

  .container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}

/*
 * Sections
 */

/* greeting */
section.greeting {
  color: $beige;
  background-image: linear-gradient(
    to right top,
    #023047,
    #153251,
    #2a3358,
    #3f325b,
    #542f5a,
    #5a305d,
    #5f315f,
    #653262,
    #5a386e,
    #4b3e78,
    #364580,
    #0a4b86
  );

  .container {
    align-items: center;
    padding: 10rem 0;
  }
}

h2.greeting {
  font-weight: $accentThinFontWeight;
}

/* aboutMe */
section.aboutMe {
  background-color: $beige;
}

.aboutMe {
  color: $black;
}

/* experience */
section.experience {
  background-color: $black;
}

.experience {
  color: $beige;
}

.experienceBlock div {
  margin: 1rem 0;

  span {
  font-style: normal;
  font-weight: $commonBoldFontWeight;
  }
}

.experiencePeriod {
  font-style: italic;
}

.experienceTechnologies {
  font-style: italic;
}

/* skills */
section.skills {
  background-color: $blue-900;
  color: $blue-100;
}

.skillsGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;

  div.skillBlock {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 1rem;
    background-image: linear-gradient(
      to right top,
      #023047,
      #153251,
      #2a3358,
      #3f325b,
      #542f5a,
      #5a305d,
      #5f315f,
      #653262,
      #5a386e,
      #4b3e78,
      #364580,
      #0a4b86
    );
    color: $blue-200;
    box-shadow: rgba(0, 0, 0, 0.6) 3px 3px 10px;
    transition: all 0.6s ease-out;
    z-index: 1;

    .skillIcon {
      margin: 1rem 0;
      transition: all 0.3s ease-out;
    }

    h4 {
      text-align: center;
      transition: all 0.3s ease-out;
    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      list-style: none;
      margin-block: 0;
      padding-inline: 0;

      li {
        text-align: center;
        padding: 0.4rem 0;
        position: relative;
      }

      li::after {
        content: '';
        position: absolute;
        top: 0;
        left: calc(50% - 2px);
        border-radius: 50%;
        height: 3px;
        width: 3px;
        background-color: $blue-200;
      }

      li:nth-child(1)::after {
        display: none;
      }
    }
  }

  div.skillBlock::after {
    content: '';
    position: absolute;
    background-image: linear-gradient(
      to right top,
      #00c6b2,
      #00a8a9,
      #008b9b,
      #006e86,
      #00526c,
      #00506e,
      #004e70,
      #004b71,
      #006092,
      #0075b5,
      #008ada,
      #00a0ff
    );
    border-radius: 5px;
    pointer-events: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    will-change: opacity;
    transition: opacity 0.5s ease-out;
  }

  div.skillBlock:hover::after {
    opacity: 0;
  }

  div.skillBlock:hover {
    color: $beige;

    .skillIcon {
      transform: scale(1.5);
    }

    h4 {
      transform: scale(1.1);
    }
  }
}

/* education */
section.education {
  background-color: $beige;
}

.educationBlock div {
  margin: 1rem 0;

  span {
    font-style: normal;
  }
}

.educationPeriod {
  font-style: italic;
}

.aboutMe {
  color: $blue-800;
}

/* contacts */
section.contacts {
  padding: 3rem 0.5rem;
  min-height: 0;
  background-color: $blue-900;

  .container {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    @media (min-width: $minNormalWidth) {
      flex-direction: row;
    }

    div {
      margin: 0.5rem 0;

      .contactsIcon {
        margin-right: 0.5rem;
        color: $beige;
      }

      .contactsButton {
        display: inline-block;
        background-color: inherit;
        color: $beige;
        border: none;
        font-size: 0.9rem;
        text-decoration: underline;
        cursor: pointer;
        padding: 0;
      }

      .contactsButton:hover {
        text-decoration: none;
      }

      .contactsButton:active {
        color: $blue-500;
      }
    }
  }
}

.contacts {
  color: $beige;
}

/* Footer */
section.footer {
  font-size: 0.8rem;
  background-color: $blue-600;
  color: $beige;
  min-height: 0;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
