/*
 * Font variables
 */

/* Accents (headers etc.) */
$accentFontFamily: 'Yantramanav', sans-serif;
$accentBoldFontWeight: 900;
$accentThinFontWeight: 100;

/* Common fonts */
$commonFontFamily: 'Lato', sans-serif;
$commonRegularFontWeight: 400;
$commonBoldFontWeight: 900;

/*
 * Colorscheme variables
 */

$darkGray-400: #46494c;
$darkGray-800: #252323;

$lightGray-200: #fdfffc;
$lightGray-400: #dfdfdf;

$lightGreen: #dde5b6;
$lightBlue-300: #c0d6df;
$lightBlue-600: #85b0c1;

/*
 * Break points
 */
$minNormalWidth: 600px;

/*
 * General Styles
 */

/* Prevent paddings cause horizontal scroll-bar */

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

/* Font size defines the size of all relative (rem) fonts */
:root {
  font-size: 18px;
}

.wave {
  display: none;
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;

  @media (min-width: $minNormalWidth) {
    display: block;
  }
}

* {
  font-family: $commonFontFamily;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $accentFontFamily;
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-size: 3.5rem !important;
  font-weight: $accentBoldFontWeight;
  margin: 0 !important;
}

h2 {
  font-size: 2rem;
  margin: 0 !important;
}

h3 {
  font-size: 2.5rem;
  width: 100%;
}

h4 {
  font-size: 1.5rem;
}

/*
 * Layout
 */
body,
main,
#root {
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 5rem 0.5rem;

  .container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}

/*
 * Sections
 */

/* greeting */
section.greeting {
  background-color: $lightGreen;

  .container {
    align-items: center;
    padding: 10rem 0;
  }
}

h2.greeting {
  font-weight: $accentThinFontWeight;
}

.greeting {
  color: $darkGray-800;
}

/* aboutMe */
section.aboutMe {
  background-color: $lightGray-200;
}

#waveAboutMe {
  background-image: url('../../images/waveAboutMe.svg');
  background-color: $lightGray-200;
}

.aboutMe {
  color: $darkGray-800;
}

/* experience */
section.experience {
  background-color: $darkGray-400;
}

#waveExperience {
  background-image: url('../../images/waveExperience.svg');
  background-color: $darkGray-400;
}

.experience {
  color: $lightGray-400;
}

/* skills */
section.skills {
  background-color: $lightBlue-300;
}

#waveSkills {
  background-image: url('../../images/waveSkills.svg');
  background-color: $lightBlue-300;
}

.skillsGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;

  div.skillBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 1rem;
    background-color: $darkGray-400;
    color: $lightBlue-300;
    box-shadow: rgba(0, 0, 0, 0.6) 3px 3px 10px;
    transition: all 0.6s ease-out;

    .skillIcon {
      margin: 1rem 0;
      transition: all 0.3s ease-out;
    }

    h4 {
      text-align: center;
      transition: all 0.3s ease-out;
    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      list-style: none;
      margin-block: 0;
      padding-inline: 0;

      li {
        text-align: center;
        padding: 0.4rem 0;
        // border-top: 1px solid;
        position: relative;
      }

      li::after {
        content: '';
        position: absolute;
        top: 0;
        left: calc(50% - 2px);
        border-radius: 50%;
        height: 3px;
        width: 3px;
        background-color: $lightBlue-300;
      }

      li:nth-child(1)::after {
        display: none;
      }
    }
  }

  div.skillBlock:hover {
    background-color: $darkGray-800;
    color: $lightBlue-600;

    .skillIcon {
      transform: scale(1.5);
    }

    h4 {
      transform: scale(1.1);
    }
  }
}

/* education */
section.education {
  background-color: $lightGray-200;
}

#waveEducation {
  background-image: url('../../images/waveEducation.svg');
  background-color: $lightGray-200;
}

.aboutMe {
  color: $darkGray-800;
}

/* contacts */
section.contacts {
  background-color: $darkGray-400;

  .container {
    flex-direction: column;
    @media (min-width: $minNormalWidth) {
      flex-direction: row;
      justify-content: space-between;
    }

    div {
      .contactsIcon {
        margin-right: 0.5rem;
        color: $lightGray-200;
      }

      .contactsButton {
        display: inline-block;
        background-color: inherit;
        color: $lightGray-200;
        border: none;
        cursor: pointer;
        padding: 0;
      }

      .contactsButton:hover {
        text-decoration: underline;
      }
    }
  }
}

#waveContacts {
  background-image: url('../../images/waveContacts.svg');
  background-color: $darkGray-400;
}

.contacts {
  color: $lightGray-400;
}
