/*
 * Font variables
 */

/* Accents (headers etc.) */
$accentFontFamily: 'Yantramanav', sans-serif;
$accentBoldFontWeight: 900;
$accentThinFontWeight: 100;

/* Common fonts */
$commonFontFamily: 'Lato', sans-serif;
$commonRegularFontWeight: 400;
$commonBoldFontWeight: 900;

/*
 * Colorscheme variables
 */

$darkGray: #252323;
$light: #dfdfdf;
$lightGreen: #dde5b6;
$bgLight: #fdfffc;
$bgGraphite: #46494c;
$bgLightBlue: #c0d6df;

/*
 * Break points
 */
$smallDeviceWidth: 576px;
$mediumDeviceWidth: 768px;
$largeDeviceWidth: 992px;
$extraLargeDeviceWidth: 1200px;

/*
 * General Styles
 */

/* Font size defines the size of all relative (rem) fonts */
:root {
  font-size: 18px;
}

.wave {
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
}

* {
  font-family: $commonFontFamily;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $accentFontFamily;
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-size: 3.5rem !important;
  font-weight: $accentBoldFontWeight;
  margin: 0 !important;
}

h2 {
  font-size: 2rem;
  margin: 0 !important;
}

h3 {
  font-size: 2.5rem;
  width: 100%;
}

h4 {
  font-size: 1.5rem;
}

/*
 * Layout
 */
body,
main,
#root {
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 5rem 0;

  .container {
    max-width: 1024px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}

/*
 * Sections
 */

/* greeting */
section.greeting {
  // background-image: url('../../images/desktop.png');
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center;
  background-color: $lightGreen;

  .container {
    align-items: center;
    padding: 10rem 0;
  }
}

h2.greeting {
  font-weight: $accentThinFontWeight;
}

.greeting {
  color: $darkGray;
}

/* aboutMe */
section.aboutMe {
  background-color: $bgLight;
}

#waveAboutMe {
  background-image: url('../../images/waveAboutMe.svg');
  background-color: $bgLight;
}

.aboutMe {
  color: $darkGray;
}

/* experience */
section.experience {
  background-color: $bgGraphite;
}

#waveExperience {
  background-image: url('../../images/waveExperience.svg');
  background-color: $bgGraphite;
}

.experience {
  color: $light;
}

/* skills */
section.skills {
  background-color: $bgLightBlue;
}

#waveSkills {
  background-image: url('../../images/waveSkills.svg');
  background-color: $bgLightBlue;
}

.skillsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  div.skillBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 1rem;
    background-color: $darkGray;
    color: $bgLightBlue;
    box-shadow: rgba(0, 0, 0, 0.6) 3px 3px 10px;
    transition: all 0.6s ease-out;

    .skillIcon {
      margin: 1rem 0;
      transition: all 0.3s ease-out;
    }

    h4 {
      text-align: center;
    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      list-style: none;
      margin-block: 0;
      padding-inline: 0;

      li {
        text-align: center;
        padding: 0.4rem 0;
        // border-top: 1px solid;
        position: relative;
      }

      li::after {
        content: "";
        position: absolute;
        top: 0;
        left: calc(50% - 2px);
        border-radius: 50%;
        height: 3px;
        width: 3px;
        background-color: $bgLightBlue;
      }

      li:nth-child(1)::after {
        display: none;
      }
    }
  }

  div.skillBlock:hover {
    background-color: black;
    color: white;

    .skillIcon {
      transform: scale(1.5);
    }
  }
}

/* education */
section.education {
  background-color: $bgLight;
}

#waveEducation {
  background-image: url('../../images/waveEducation.svg');
  background-color: $bgLight;
}

.aboutMe {
  color: $darkGray;
}

/* contacts */
section.contacts {
  background-color: $bgGraphite;

  .container {
    flex-direction: row;
    justify-content: space-between;

    p .contactsIcon {
      margin-right: 0.5rem;
    }
  }
}

#waveContacts {
  background-image: url('../../images/waveContacts.svg');
  background-color: $bgGraphite;
}

.contacts {
  color: $light;
}
