section.greeting {
  background-image: url('../../images/desktop.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0099ff;
}

.waves {
  width: 100%;
  height: 100px;
  background-repeat: no-repeat;
  background-image: url('../../images/wave.svg');
}
